:host {
       .card {
              background-color: beige;
              transform: scale(1);
              transition: all .2s ease-in;

              .name {
                     font-size: 18px;
                     color: #ccc;
              }

              &:hover {
                     background-color: #ccc;
                     cursor: pointer;
                     transform: scale(1.05);
              }
       }
}